html {
	font-size: 14px;
}

body {
	background-color:#faf8f2;
}

a {
	color: #be3821;
	text-decoration:none;
}
a:link {}
a:active {}
a:visited {}
a:hover {
	color:#e09900;
}
.selected {
	display:block;
/*	color:#e09900;*/
/*	background-color:#3b1d0f;*/
	background-color:#f2e5ce;
}

html, body, table.body {
	height: 100%;
	margin-left:7%;
	font-family: 'EB Garamond', serif;
}

/******** sidebar ********/

td.sidebar {
	width: 220px;
	background-image:url('/images/menu_1.png');
	background-repeat:no-repeat;
}

td.sidebar a.title {
	color: #330000;
	text-decoration: none;
}

td.sidebar a.title h1 {
	font-size: 5em;
	margin: 10px auto 10px 30px;
}

td.sidebar ul.navigation {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

td.sidebar ul.navigation a {
	text-decoration: none;
}

td.sidebar ul.navigation a li {
	width: 213px;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
}

td.sidebar ul.navigation a:hover li {
	color:#e09900;
}

td.sidebar ul.navigation a li span {
	margin-left: 15px;
	font-variant:small-caps;
	font-size:1.2em;
}

td.sidebar span.footer {
	display: inline-block;
	margin: 20px auto 20px 15px;
	font-size:0.9em;
}

td.sidebar span.footer p {
	margin: 0px auto 0px auto;
	line-height:1.3em;
}

/****** drawer ************/

td.drawer {
	padding: 0px 20px 0px 20px;
	border-style:none;
	line-height:1.5em;
	height:200%;
	width:200px;
	background-image:url('/images/menu_2.png');
	background-repeat:no-repeat;
}

td.drawer a {
	line-height:1.5em;
	font-size:0.9em;
}

/******* content *********/

td.content {
	width: 500px;
	padding: 0px 0px 0px 20px;
	margin:0px;
	color:#e09900;
}

td.content a {
	font-size:0.9em;
}

td.content h4:hover {
	cursor:pointer;
	color:#e09900;
}

td.content h5:hover {
	cursor:pointer;
	color:#e09900;
}

td.content h1 {
	font-size: 2em;
	letter-spacing:0.15em;
	margin: 1.5em 0px 8px 0px;
}

td.content h2 {
	font-size: 2em;
	letter-spacing:0.15em;
	margin: 1.5em 0px 8px 0px;
	font-variant:small-caps;
}

td.content h3 {
	font-size: 1.5em;
	letter-spacing:0.15em;
	margin: 1.5em 0px 0px 0px;
	font-variant:small-caps;
}

td.content h4 {
	font-size: 0.9em;
	margin: 1.5em 0px 0px 0px;
	color:#be3821;
}

td.content .source {
	margin: 0px 0px 2em 0px;
}

td.content h5 {
	font-size: 0.9em;
	margin: 0.4em 0px 0px 0.4em;
	color:#be3821;
}

td.content p.description {
	margin: 0.4em 0px 0px 0px;
}

td.content pre {
	margin: 0.4em 0px 0px 0.4em;
}

td.content p {
	font-size:0.9em;
	line-height:1.2em;
	letter-spacing:0.07em;
	color:#3b1d0f;
	margin: 1.5em 0px 0px 0px;
}

td.content code {
	font-size:0.80em;
	line-height:1.3em;
	color:#3b1d0f;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	display: block;
	padding:9px 15px 9px 4px;  /* padding:12px 10px 12px 8px; */
	margin:8px;
	background-color:#f2e5ce;
}