html {
	font-size:18px;
}

html, body, table.body {
	height: 100%;
	margin-left:2%;
	margin-top:2%;
	color:#3b1d0f;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color:#faf8f2;
	background-image:url('/images/header_2.png');
	background-repeat:repeat-x;
	background-attachment:fixed;
}

a {
	font-family: 'EB Garamond', sans-serif;
	color: #be3821;
	text-decoration:none;
}

a:hover {
	color:white;
	-webkit-transition: color 2s linear;
	transition: color 2s linear;
	/*	color:#e09900;*/
/*	animation-duration:3s;
	animation-name:colorize;
}

@keyframes colorize {
	from {
		color:white;
	}
	
	to {
		color:black;
	}*/
}



/********** sidebar **********/

td.sidebar {
	width: 235px;
	min-width:235px;
	background-image:url('/images/menu_1.png');
	background-repeat:no-repeat;
}

td.sidebar ul.navigation li {
	list-style: none;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	margin-left: 15px;
	font-variant:small-caps;
	font-size:1.2em;
}

td.sidebar div.footer {
	display: inline-block;
	margin: 20px 15px 20px 15px;
	line-height:1.3em;
	font-size:0.9em;
}

td.sidebar div.footer p {
	font-size:0.8em;
}

/********** drawer ************/

td.drawer {
	margin: 0px 0px 20px 0px;
	padding: 0px 20px 0px 20px;
	border-style:none;
	width:200px;
	min-width:200px;
	background-image:url('/images/menu_2.png');
	background-repeat:no-repeat;
	line-height:1.5em;
	font-size:0.9em;
}

td.drawer a.selected {
	display:inline-block;
	background-color:#f2e5ce;
	width:100%;
}

/********** content ***********/

td.content {
	width: 500px;
	padding: 0px 0px 0px 20px;
	margin:0px 0px 2em 0px;
	color:#e09900;
}

td.content .icon {
	width:80px;
	height:50px;
}

td.content h1 {
	margin: 0.9em 0px 8px 0px;
	font-size:1.5em;
	font-family: 'EB Garamond', serif;
}

td.content h2 {
	margin: 0.4em 0px 8px 0px;
	font-size:2em;
	letter-spacing:0.1em;
	line-height:1.5em;
	font-family: 'EB Garamond', serif;
	font-variant:small-caps;
}

td.content h3 {
	margin: 1.5em 0px 0px 0px;
	font-size:1.5em;
	letter-spacing:0.1em;
	font-family: 'EB Garamond', serif;
	font-variant:small-caps;
}

td.content h4 {
	margin: 1.5em 0px 0px 0px;
	font-size: 0.9em;
	font-family: 'EB Garamond', serif;
	color:#be3821;
}

td.content h4:hover {
	cursor:pointer;
	color:#e09900;
}

td.content h5 {
	margin: 0.4em 0px 0px 0.9em;
	font-family: 'EB Garamond', serif;
	font-size: 0.9em;
	color:#be3821;
}

td.content h5:hover {
	cursor:pointer;
	color:#e09900;
}

td.content .source {
	margin: 0px 0px 2em 0px;
}

td.content .description p {
	margin: 0.4em 0px 0px 0px;
}

td.content p {
	margin: 1.5em 0px 0px 0px;
	font-size:0.8em;
	line-height:1.5em;
	color:#3b1d0f;
}

td.content p a {
	font-size:1.25em;
}


/********** faux footer *************/

.faux_footer {
	height:80px;
}